<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".price" %></th>
      <th><%= t ".action" %></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= number_to_currency tour.price %></td>
        <td>
          <%= link_to "<i class='fas fa-pencil-alt'></i>".html_safe, edit_admin_tour_path(tour) %> &emsp;
          <%= link_to "<i class='fas fa-eye'></i>".html_safe, admin_tour_path(tour) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
