<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide carousel-tours" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active carousel-image">
        <img src="https://owa.bestprice.vn/images/articles/large/top-15-cac-dia-diem-du-lich-da-nang-hot-nhat-ban-khong-the-bo-qua-5ed9cb93af7eb-422x238.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item carousel-image">
        <img src="https://owa.bestprice.vn/images/articles/large/top-15-cac-dia-diem-du-lich-da-nang-hot-nhat-ban-khong-the-bo-qua-5ed9cb93af7eb-422x238.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item carousel-image">
        <img src="https://owa.bestprice.vn/images/articles/large/top-15-cac-dia-diem-du-lich-da-nang-hot-nhat-ban-khong-the-bo-qua-5ed9cb93af7eb-422x238.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="featured-tours">
    <div class="title-featured-tours"><p><%= t(".featured_tour") %></p></div>
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
            <div class="rating">
              <span><i class="fas fa-star icon-rating-tour"></i></span>
              <span><i class="fas fa-star icon-rating-tour"></i></span>
              <span><i class="fas fa-star icon-rating-tour"></i></span>
              <span><i class="fas fa-star icon-rating-tour"></i></span>
              <span><i class="fas fa-star icon-rating-tour"></i></span>
              <span><i class="fas fa-star"></i></span>
            </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="tours-regular">
    <div class="title-featured-tours"><p><%= t(".regular_tours")%></p></div>
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div id="tours-regular">
    <div class="title-featured-tours"><p><%= t(".other_tours")%></p></div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 col-lg-2">
        <div class="other-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
          <div class="rating">
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star icon-rating-tour"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>

          <div class="booking-price">
            <div class="price-tour">
              <p>100.000</p>
            </div>
            <div class="booking-tours-now">
              <button class="btn btn-primary"><%= t(".book_now")%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="tours-regular">
    <div class="title-featured-tours"><p><%= t(".reviews")%></p></div>
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="featured-tours-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjcvgq7cEEy-CM0r47Yo6eu0QtCB3I7ME6Pw&usqp=CAU"/>
          <div class="tour-name">
            <p> Tours du lịch Paris </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
