  <div class="nested-fields">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control street-field" %>
        </div>
      </div>

      <div class="col-md-4 col-sm-12" />
        <div class="form-group">
          <%= f.label :dob %>
          <%= f.date_field :dob, class: "form-control street-field" %>
        </div>

      </div>

      <div class="col-md-4 col-sm-12" />
        <div class="form-group">
          <%= f.label :passport %>
          <%= f.text_field :passport, class: "form-control street-field" %>
        </div>
      </div>

      <div class="col-md-4 col-sm-12" />
        <div class="form-group">
          <%= f.label :"Phone" %>
          <%= f.text_field :phone_number, class: "form-control street-field" %>
        </div>
      </div>
    </div>
  </div>
