<table id="example" style="width:100%" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, 'Id') %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".email" %></th>
      <th><%= t ".phone" %></th>
      <th><%= t ".delete" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
