<footer>
  <div class="container pl-15-important">
    <div class="row">
      <div class="col-xs-12 col-sm-6 categories-ft">
        <ul>
          <li><a href="#"><%= t(".about_us")%></a></li>
          <li><a href="#"><%= t(".contact")%></a></li>
          <li><a href="#"><%= t(".collaboration")%></a></li>
          <li><a href="#"><%= t(".help")%></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="logo-footer">
        </div>
        <p>
          <%= t(".company")%> Booking<br/>
          <%= t(".responsible")%>: Lương Sỹ Bắc<br/>
          <%= t(".phone_number")%>: 0366 797 483<br/>
          <%= t(".address")%>: 14 Huy Du, Sơn Trà, Đà Nẵng
        </p>
        <div class="social">
          <i class="fab fa-facebook fa-2x mr-20"></i>
          <i class="fab fa-google-plus fa-2x mr-20"></i>
          <i class="fab fa-twitter-square fa-2x mr-20"></i>
        </div>
      </div>
    </div>
    <hr />
    <div class="ta-center">Booking tours 2022 &copy;</div>
  </div>
</footer>
