<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "#{Settings.booking.brand}", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= t ".home" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><%= t ".booking_tours" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><%= t ".reviews" %></a>
        </li>
        <% if controller.controller_name == "home" || controller.controller_name == "tours" %>
          <li class="nav-item">
             <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <%= t ".search" %>
            </a>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= t ".find_tour" %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= search_form_for(@q, url: tours_path, method: :get) do |f| %>
                      <div class="field">
                        <%= f.label :tour_cont, t("ransack.name_or_description") %>
                        <%= f.search_field :name_or_description_cont, class: "form-control"%>
                      </div>
                      <div class="field">
                        <%= f.label :price, t("ransack.price") %>
                        <div class="form-group price-search">
                          <%= f.text_field :price_gteq, class: "form-control" %> -
                          <%= f.text_field :price_lteq, class: "form-control" %>
                        </div>
                      </div>
                      <div class="field">
                        <%= f.label :created_at_eq, t("ransack.created_at") %>
                        <%= f.date_field :created_at_eq, class: "form-control input-sm" %>
                      </div>
                  </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning"><%= link_to t(".clear"), request.path, class: "clear-link" %></button>
                        <%= f.submit t(".search"), class: "btn btn-primary" %>
                      </div>
                    <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <% if controller.controller_name == "home" || controller.controller_name == "tours" %>
        <%= search_form_for(@q, url: tours_path, method: :get, class: "form-inline") do |f| %>
          <div class="form-search-tour">
            <%= f.search_field :name_cont, placeholder: t("search"), class: "form-control" %>
            <%= f.submit t("search"), class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>

      <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-2x fa-language"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to Settings.language.english, url_for(locale: :en), class: "dropdown-item" %></li>
          <li><%= link_to Settings.language.vietnamese, url_for(locale: :vi), class: "dropdown-item" %></li>
        </ul>
      </div>&nbsp;&nbsp;&nbsp;
      <% if user_signed_in? %>

        <div class="dropdown navbar-right-item">
          <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="notification">
              <div id="notification-counter">
                <%= render "notifications/counter", counter: current_user.count_noti %>
              </div>
              <div class="bell">
                <span class="fas fa-bell fa-lg"></span>
              </div>
            </div>
          </a>

          <ul class="dropdown-menu dropdown-menu-end ul-notification arrow_box_notification" aria-labelledby="navbarDropdown">
            <div class="mt-15">
              <li class="confirm-notification">
                <h4 class="ml-15"><%= t ".new_notification" %></h4>
                <a class="mr-15"><%= t ".see_all" %></a>
              </li>
            </div>
            <li><hr class="dropdown-divider"></li>
            <div class="display-content" id="notifications-list" >
              <%= render "notifications/index", notifications: current_user.list_notification %>
            </div>
          </ul>
        </div>

        <div class="dropdown select-menu">
          <button class="avt-user-login" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://media.istockphoto.com/vectors/human-face-avatar-icon-profile-for-social-network-man-vector-vector-id1227618784?k=20&m=1227618784&s=170667a&w=0&h=w8WOZjZf7wM-QUEEciRtOdRK5KmOovlt69RjkXFQ8k8=">
          </button>
          <ul class="dropdown-menu" id="card-menu-home" aria-labelledby="dropdownMenuButton1">
            <li><%= link_to t(".logout"), destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
            <% if current_user && current_user.admin? %>
              <li><%= link_to t(".manager"), admin_root_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <span class="navbar-text">
          <%= link_to t(".login"), new_user_session_path %>
        </span> &nbsp;
        <span class="navbar-text">
          <%= link_to t(".registration"), new_user_registration_path %>
        </span>
      <% end %>
    </div>
  </div>
</nav>
