<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= Settings.booking.brand %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= t ".home" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><%= t ".booking_tours" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><%= t ".reviews" %></a>
        </li>
      </ul>
      <div class="dropdown">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-2x fa-language"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to Settings.language.english, url_for(locale: :en), class: "dropdown-item" %></li>
          <li><%= link_to Settings.language.vietnamese, url_for(locale: :vi), class: "dropdown-item" %></li>
        </ul>
      </div>&nbsp;&nbsp;&nbsp;

      <% if logged_in? %>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Hi, <%= current_user.name %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><%= link_to t(".logout"), logout_path, method: :delete, class: "dropdown-item" %></li>
            <% if current_user && current_user.admin? %>
            <li><%= link_to t(".manager"), admin_root_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <span class="navbar-text">
          <%= link_to t(".login"), login_path %>
        </span> &nbsp;
        <span class="navbar-text">
          <%= link_to t(".registration"), signup_path %>
        </span>
      <% end %>
    </div>
  </div>
</nav>
